:root {
    --pageBG: #70c6c7;
    --leftBg: #00204A;
    --rightBg: #4B6982;
    --linesColor: #fff;
    --leftTitlesColor: #FDB44B;
    --rightTitlesColor: #70C6C7;
    --nameColor: #D6DBDF;
    --leftInfoColor: #d6dbdfaf;
    --leftIconsColor: #2E86C1;
    --skillTitle: #fff;
    --rigthContentColor: #F1F8FD;
    --rigthContentBorderColor: #a5a3a3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--pageBG);
}

.resume-contents {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: var(--leftBg);
}

.right-section {
    grid-column: span 5;
    height: 100%;
    background-color: var(--rightBg);
    border-radius: 0px 60px 0px 0px;
}

.left-section-content{
    padding: 2rem 2rem;
}

.profile {
    width: 100%;
    border-bottom: 2px solid var(--linesColor);
    padding-bottom: 1rem;
}

.profile-image {
    width: 95%;
    aspect-ratio: 1 / 1;
    margin: 5% 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 15px 7px rgba(0,0,0, 0.5);
}

.profile-image img {
    height: 100%;
    transform: translatex(3rem);
}

.name {
    color: var(--nameColor);
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
}

.profession {
    color: var(--leftTitlesColor);
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    padding-bottom: 1rem;
}

.contact-info { 
    border-bottom: 2px solid var(--linesColor); 
    padding-bottom: 1rem;
}

.left-title {
    color: var(--leftTitlesColor);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.contact-info ul {
    padding: 1.5rem 0;
}

.contact-info ul li a {
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: var(--leftInfoColor);
    letter-spacing: 1px;
    font-size: 18px;
    text-decoration: none;
}

.contact-info ul li a i {
    padding-right: 1rem;
    font-size: 18px;
    color: var(--leftIconsColor);
}

.contact-info ul li:hover a,
.contact-info ul li:hover a i
 {
    color: #FDB44B;
}

.skills ul {
    padding-top: 1.5rem;
}

.skills ul li:nth-child(2) {
    padding-top: 1.5rem;
}

.skills ul li p {
    padding: .4rem 0;
    color: var(--leftInfoColor);
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-align: justify;
}

.skill-title {
    color: var(--skillTitle);
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    /* padding-top: 2rem; */
}

.right-section-contents {
    padding: 2rem 2rem;
}

.right-title {
    color: var(--rightTitlesColor);
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    position: relative;
}

:is(.education, .awards) .right-title{
    padding: 2.8rem 0;
}

.about, .experience, .education {
    border-bottom: 2px solid var(--linesColor);
}

.gap {
    padding-bottom: 2rem;
}
.about-me-contents {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2rem;
    color: var(--rigthContentColor);
}

.experience-contents,
.education-contents,
.awards-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--rigthContentColor);
}

.exp-company-name,
.education-school-name,
.awards-company-name {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--leftTitlesColor);
    padding-bottom: .4rem;
}

.exp-time-period,
.educationp-time-period,
.awards-time-period {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2rem;
}

.exp-position,
.education-subject,
.awards-name {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--leftTitlesColor);
    padding-bottom: .4rem;
}

.exp-desc,
.education-desc,
.awards-desc {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5rem;
    border-left: 3px solid var(--rigthContentBorderColor);
    padding-left: 5px;
}

/* Media queries */
@media screen and (max-width:780px) {
    .experience-contents,
    .education-contents,
    .awards-contents {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:780px) {
    .left-section {
        grid-column: span 3;
    }
    
    .right-section {
        grid-column: span 4;
        border-radius: 0px 0px 0px 0px;
    }
    
}

@media screen and (max-width:1200px) {
    .resume-contents {
        grid-template-columns: repeat(1, 1fr);
    }

    .right-section{
        border-radius: 0px 0px 0px 0px;
    }
}

@media screen and (max-width:390px) {
    .resume-contents {
        width: 100%;
        margin: 0 auto;
    }

    .name {
        font-size: 20px;
    }

    .profession {
        font-size: 18px;
    }

    .left-title {
        font-size: 18px;
    }

    .right-section{
        border-radius: 0px 0px 0px 0px;
    }

    .right-title {
        font-size: 18px;
    }

    .contact-info ul li,
    .references ul li {
        font-size: 12px;
    }

    .contact-info ul li i,
    .references ul li i {
        /* padding-right: 1rem; */
        font-size: 12px;
    }

    .skills ul li p {
        font-size: 12px;
    }

    .about-me-contents {
        font-size: 16px;
        line-height: 1.5rem;
    }

    .exp-company-name,
    .education-school-name,
    .awards-company-name {
        font-size: 18px;
    }

    .exp-time-period,
    .educationp-time-period,
    .awards-time-period {
        font-size: 16px;
    }

    .exp-position,
    .education-subject,
    .awards-name {
        font-size: 18px;
    }
}